<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container-fluid bg-blur rounded mt-1 mb-4 d-flex justify-content-center" id="big-div">

        <div class="col-5">
            <h3 class=" bg-gray text-dark  mb-0 mt-2">Assigned to me</h3>
            <h6 class=" bg-gray text-dark  mb-0 mt-0" th:text="|Username: ${@currentUser.username}|"></h6>
            <div class="bg-dark rounded m-auto" style="height: 67vh; overflow: auto">
                <th:block th:each="task : ${ownTasks}">
                    <br>
                <ul class="list-group list-group-horizontal text-dark" >
                    <li class="list-group-item bg-warning">
                        <table>
                            <tr>
                                <td scope="row" style="width: 5%"><img class="mr-2 " src="/img/pin.png" alt="Pin" width="35px" height="35px"></td>
                                <td style="width: 15%"  th:text="${task.getPriority().getPriorityName()}"></td>
                                <td style="width: 40%" th:text="|Due date: ${task.getDueDate()}|"></td>
                                <td><a th:href="@{/tasks/remove/{id}(id = *{task.id})}" height="35px">Remove</a></td>
                                <td><a th:href="@{/tasks/details/{id}(id = *{task.id})}" height="35px">Details</a></td>
                            </tr>
                        </table>
                    </li>
                    <li class="list-group-item list-group-item-warning text-dark">
                        <a th:text="${task.description}"></a>
                    </li>
                </ul>
                </th:block>
            </div>
        </div>

        <div class="col-5">
            <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">All Available Tasks</h3>
            <h6 class="mySticky bg-gray text-dark  mb-0 mt-0"  th:text="|${total} Tasks|">total: </h6>
            <div class="bg-dark rounded m-auto" style="height: 67vh; overflow: auto">
                <th:block th:each="unassignedTask : ${otherTasks}">
                    <br>
                <ul  class="list-group list-group-horizontal text-dark">
                    <li class="list-group-item bg-warning">
                        <table>
                            <tr th:each="t : ${otherTasks}" th:object="${t}">
                                <td style="width: 5%"><img class="mr-2 " src="/img/pin.png" alt="Pin" width="35px" height="35px"></td>
                                <td style="width: 15%" th:text="|${unassignedTask.getPriority().getPriorityName()}|"><a></a></td>
                                <td><a th:text="|Due date: ${unassignedTask.getDueDate()}|"></a></td>
                                <td><a class="ml-3"
                                       th:href="@{/tasks/assign-task/{id}(id=*{unassignedTask.id})}"><img
                                        src="/img/assign-to-me-button.png" height="35px"></a></td>
                            </tr>
                        </table>
                    </li>
                    <li class="list-group-item list-group-item-warning text-dark">
                        <a th:text="|${unassignedTask.getDescription()}|"></a>
                    </li>
                </ul>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
