<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Andrey's</title>
    <link href="/css/reset-css.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/mycss.css" rel="stylesheet"/>
</head>

<body>


<nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark " th:fragment="nav">
    <a class="nav-link text-white active h5" href="/">Andrey's</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav row">
            <th:block th:if="${@currentUser.id == null}">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h6" href="/users/login">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h6" href="/users/register">Register</a>
                </li>
            </th:block>
            <th:block th:unless="${@currentUser.id == null}">
                <li class="col-md-4">
                    <a class="nav-link text-white active h6" href="/items/add">Add Item</a>
                </li>
                <li class="col-md-4">
                    <a class="nav-link text-white active h6" href="/users/logout">Logout</a>
                </li>
            </th:block>
        </ul>
    </div>
</nav>


<footer class="footer bg-dark  py-2" th:fragment="footer">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            Andrey's & new Spring Team 2023.
        </div>
    </div>
</footer>

</body>
</html>