<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::nav}">
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Item</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-dark p-3 rounded text-center"
          th:action="@{/items/add}"
          th:method="post"
          th:object="${itemBindingModel}">

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label class="h4 mb-2" for="name">Name</label>
            </div>
            <input class="form-control" id="name" name="name" th:errorclass="bg-danger" th:field="*{name}" type="text"/>
            <small class="bg-danger text-light rounded" th:each="e : ${#fields.errors('name')}" th:text="${e}">Incorrect
                name!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label class="h4 mb-2" for="description">Description</label>
            </div>
            <input class="form-control" id="description" name="description" th:errorclass="bg-danger" th:field="*{description}"
                   type="text"/>
            <small class="bg-danger text-light rounded" th:each="e : ${#fields.errors('description')}" th:text="${e}">Incorrect
                description</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label class="h4 mb-2" for="category">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category" th:errorclass="bg-danger"
                    th:field="*{category}">
                <option value="">Select category !!!!</option>
                <option class="bg-danger text-light rounded"
                        th:each="c : ${T(com.example.andreysshop.domain.entity.enums.CategoryNameEnum).values()}" th:text="${c}" th:value="${c}">Shirt
                </option>
            </select>
            <small class="bg-danger text-light rounded" th:each="e : ${#fields.errors('category')}" th:text="${e}">HHHHOOO</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label class="h4 mb-2" for="gender">Gender</label>
            </div>
            <select class="browser-default custom-select" id="gender" name="gender" th:errorclass="bg-danger"
                    th:field="*{gender}">
                <option value="">Select gender !!!!!</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>
            <small class="bg-danger text-light rounded" th:each="e : ${#fields.errors('gender')}" th:text="${e}">Incorrect
                gender</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label class="h4 mb-2" for="price">Price</label>
            </div>
            <input class="form-control" id="price" name="price" th:errorclass="bg-danger" th:field="*{price}"
                   type="number"/>
            <small class="bg-danger text-light rounded" th:each="e : ${#fields.errors('price')}" th:text="${e}">Incorrect
                price!</small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button class="btn btn-secondary text-white mb-3" type="submit">Add Item</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/commons::footer}">
</footer>
</body>
</html>
